.app {
  text-align: center;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-attachment: fixed
}

.landingPageDiv {
  height: 95vh;
}

.addBeerFormDiv {
  max-width: 550px;
  margin: 10px auto;
}

.addBeerButton {
  padding-top: 23px;
}

.displayBeerDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}